<nav>

   <a href="/recommendations"><img id="aanbevelingen" src="images/aanbevelingen.png" alt='aanbevelingen'></a>
   <a href="/savedprofiles"><img id="dumbell" src="images/dumbell.png">
      <a href="/chat"><img id="berichten" src="images/berichten.png" alt='berichten'></a>
      <a href=""><img id="profiel" src="images/profiel.png" alt='profiel'></a>

</nav>