<nav>
   <a href=""><img id="aanbevelingen" src="images/aanbevelingen.png" alt='aanbevelingen'></a>
   <a href=""><img id="berichten" src="images/berichten.png" alt='berichten'></a>
   <a href=""><img id="home" src="images/home.png" alt='home'></a>
   <a href=""><img id="profiel" src="images/profiel.png" alt='profiel'></a>

</nav>