<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="static/public/css/style.css">
    <script src="static/public/script/script.js"></script>
    <title>Matching-App</title>
</head>
<body>
 
    {{>header}}

    {{{body}}}
 
 <footer>Copyright Ashley</footer>
</body>
</html>