<h1>Saved Profiles</h1>

{{#each users}}
<section class='profiel'>
    <div>
        <img src="" alt="">
        <h1>{{firstName}}</h1>
        <h2>{{lastName}}</h2>
        <p>{{age}} years</p>
        <p>{{location}} away</p>
        <a href="/chat"><button class=profiel>Start Chatting</button></a>
    </div>

</section>

<<<<<<< HEAD
{{/each}}

{{>navigation}}
=======
{{/each}}
>>>>>>> 816d176e36088a4aedcf2072d5848b009103eb74
