body {
    background-image: url("/images/bgshape.png");
    background-color: #222239;
    background-repeat: no-repeat;
   background-attachment: fixed; 
   background-size: cover;
  margin:0 0 55px 0;
  font-family: avenir;

   }
   a{text-decoration: none;}
   
/*icons instelligen*/
#instellingen{
  float: right;
  width:3em;
  height:2em;
  margin:1em;
}
#dumbell{
    float: left;
    width:4em;
    height:2em;
    margin:1em;
  }
/*navigatie onder*/
  nav {display: flex;
    background-color: #E86E61;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 70px;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20% 20% 0% 0%;
    }

  #aanbevelingen, #berichten, #home, #profiel{
    align-items: center;
    width:1.5 em;
    height:2em;
    margin:0.05em;
    flex-grow: 1;
    min-width:55px;
    overflow: hidden;
    white-space: nowrap;
    padding:1em;
  }

#profiel:hover{background-color: #E86E61;}
#berichten:hover{background-color: #E86E61;}
#home:hover{background-color: #E86E61;}
#aanbevelingen:hover{background-color: #E86E61;}

/**/

   h1{color:white;
   display: inline-block;
text-transform: capitalize;
font-size:40px;
text-align: center;

}

/* aanbevelingen pagina */

section.accounts{
  display: block;
  background-color: whitesmoke;
  border-radius: 20%;
  margin:1em;
  padding:1em 0em 0em 0em;
}

section.accounts>div>h1{
color:black;
  display: inline-block;
text-transform: capitalize;
font-size:25px;
margin: 0em;
padding:0em 0.5em 0em 0em;}

section.accounts >div:nth-of-type(1){
  display: block;
margin: auto;
padding:0em 2em;
border-radius: 40%;

}
/* like en skip knop */
section.accounts >div:nth-of-type(3){
  display: flex;
  align-items: center;
margin:0em auto;
justify-content: center;
border-radius: 40%;
}
div.accounts{
    margin:2em 2em 1em 2em;
}

div.accounts> h1,  h2, p{
  color:black;
  padding:0em;
  display: block;
  margin:0em;
 text-align: left;
}

img.accounts {width:8em;
  height:8em;
  display:block;
  margin:0em auto 0.5em;

}



#likeknop{padding:1.5em;
}

#skipknop{padding:1.5em;
}

section.accounts >div:nth-of-type(2)>p{
margin:0.5em 2em;

}


button.toggle{ background-color:  #E86E61;
  border: none;
  border-radius: 40%;
  color: white;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
 justify-content: center;
 margin: 1em auto 0em;
 display: block;
 text-decoration: none;}


.info{
  display:none;

}
 .active{
  display:block;
}

/* saved profielen pagina  */
section.profiel{
  display: block;
  background-color: whitesmoke;
  border-radius: 20%;
  margin:1em 1em 5em 1em;
  padding:1em 0em ;
}

section.profiel >div > h1,h2,p{
  color:black;
  color:black;
  padding:0em;
  display: block;
  margin:0em;
 text-align: left;
}
  
section.profiel > div{
  display: block;
  margin: auto;
  padding:0em 2em;
  border-radius: 40%;
}


button.profiel{ background-color:  #E86E61;
  border: none;
  border-radius: 35%;
  color: white;
  padding: 1em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
 justify-content: center;
 margin: 1em auto ;
 display: block;
 text-decoration: none;}

/* home pagina */
section.home{
  display: block;
  background-color: whitesmoke;
  border-radius: 20%;
  margin:1em;
  position: absolute;
  top:5em;
}

 h1.home{
  color:black;
  padding:0.5em;
}

h2.home{
  color:black;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding:0em;
  display: block;
}

button.home{
 background-color:  #E86E61;
 border: none;
 border-radius: 40%;
 color: white;
 padding: 1em 2em;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
justify-content: center;
margin: 2em auto;
display: block;
text-decoration: none;

}
